  .preIframe-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    .preIframe-back {

      position: absolute;
      top: 20px;
      left: 20px;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }
    .preIframe-content {
      height: 100%;
      width: 100%;
      border: none;
    }
  }