.editor {
  padding: .625rem;
  min-height: 100%;
  background-color: #fff;
  border-radius: .25rem;
  min-width: 12.5rem;

  .config-com-area {
    padding: .625rem;
    background-color: #f5f7fa;
    border-radius: .25rem;
    margin-bottom: .625rem;

  }

  .config-item {
    margin: .375rem;
  }
}