.editor {
  padding: .625rem;
  min-height: 100%;
  background-color: #fff;
  border-radius: .25rem;
  min-width: 12.5rem;

  // 组件信息
  .config-com-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #606266;
    margin: .625rem;
    margin-top: 0;
  }

  // 配置项区域
  .config-com-area {

    // 配置项区域标题
    .config-com-info {
      font-size: 1rem;
      background-color: #f5f7fa;
      color: #606266;
      padding: .625rem;
      border-radius: .25rem;
      margin: 0;
      margin-bottom: .625rem;
    }

    // 配置项区域内所有文字设置
    font-size: .875rem;
    line-height: 1.5;
    color: #333;
    text-align: left;

  }

}

// 配置项
.config-item {
  width: 100%;
  display: flex;
  padding: .375rem;

  // 配置项标签
  .config-item__label {
    min-width: 8.75rem;
    padding-right: .625rem;

    display: inline-block;
    font-size: .875rem;
  }

  // 配置项UI
  .config-item__ui {
    min-width: 10rem;
    transition: all .3s;

    &.border:hover,
    &.border:focus {
      border-color: #409eff;
    }

  }

  // 配置项样式
  .border {
    border: 1px solid #d9d9d9;
    border-radius: .375rem;
  }

  .noOutline {
    outline: none;
  }

  .padding {
    padding: .375rem .625rem;
  }

  // 选择器样式
  .select-container {
    position: relative;

    .select {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .select-options {
      width: 100%;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      margin-top: .125rem;
      border-radius: .375rem;
      z-index: 1000;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      position: absolute;
      top: 100%;
      left: 0;

      .select-option {
        font-size: .875rem;
        margin: .375rem;
        padding: .375rem .625rem;
        background-color: #fff;
        border: none;
        border-radius: .375rem;
        cursor: pointer;
        font-size: .875rem;

        &:hover {
          background-color: #f5f5f5;
        }

        &:focus {
          background-color: #e6f4ff;
          outline: none;
        }

        &.selected {
          background-color: #e6f4ff;
          font-weight: 700;
        }
      }
    }


  }

}