.editor {
  padding: .625rem;
  width: 100%;
  min-width: 18rem;
  min-height: 100%;
  background-color: #fff;
  border-radius: .25rem;

  // 组件信息
  .config-com-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #606266;
    margin: .625rem;
    margin-top: 0;
  }

  // 配置项区域
  .config-com-area {

    // 配置项区域标题
    .config-com-info {
      font-size: 1rem;
      background-color: #f5f7fa;
      color: #606266;
      padding: .625rem;
      border-radius: .25rem;
      margin: 0;
      margin-bottom: .625rem;
    }

    // 配置项区域内所有文字设置
    font-size: .875rem;
    line-height: 1.5;
    color: #333;
    text-align: left;

  }

}

// 配置项
.config-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .375rem;

  // 配置项标签
  .config-item__label {
    min-width: 5rem;
    padding-right: .625rem;

    display: inline-block;
    font-size: .875rem;
  }

  // 配置项UI
  .config-item__ui {
    min-width: 10rem;
    transition: all .3s;

    &.border:hover,
    &.border:focus {
      border-color: #409eff;
    }

  }

  // 配置项样式
  .border {
    border: 1px solid #d9d9d9;
    border-radius: .375rem;
  }

  .noBorder {
    border: none;
    border-radius: 0;
  }

  .noOutline {
    outline: none;
  }

  .padding {
    padding: .375rem .625rem;
  }

  .no-select {
    user-select: none;
    -webkit-user-select: none;
    /* Chrome, Safari, Edge */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
  }

  // 选择器样式
  .select-container {
    position: relative;

    .select {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .select-options {
      width: 100%;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      margin-top: .125rem;
      border-radius: .375rem;
      z-index: 1000;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      position: absolute;
      top: 100%;
      left: 0;

      .select-option {
        font-size: .875rem;
        margin: .375rem;
        padding: .375rem .625rem;
        background-color: #fff;
        border: none;
        border-radius: .375rem;
        cursor: pointer;
        font-size: .875rem;

        &:hover {
          background-color: #f5f5f5;
        }

        &:focus {
          background-color: #e6f4ff;
          outline: none;
        }

        &.selected {
          background-color: #e6f4ff;
          font-weight: 700;
        }
      }
    }
  }

  // 数字输入框
  .input_number-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    padding: .375rem .625rem;


    &:hover {
      .input_number-actions {
        border-color: #40a9ff;
        transform: translateX(0%);

        .input_number-action-subtract {
          border-color: #40a9ff;
        }
      }
    }

    .input_number-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1.375rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-left: 1px solid #d9d9d9;
      transform: translateX(100%);
      transition: all 0.3s;

      .input_number-action {
        width: 100%;
        height: 50%;
        font-size: .875rem;
        text-align: center;
        background-color: #fff;
        border: none;
        cursor: pointer;
        line-height: 1;
        padding: 0;
        transition: all .3s;
        user-select: none;
      }

      .input_number-action-subtract {
        border-bottom: 1px solid #d9d9d9;
      }

      .input_number-action-subtract:hover {
        margin-top: .375rem;
      }

      .input_number-action-add:hover {
        margin-bottom: .375rem;
      }

    }
  }

  // 数字输入框单位
  .input_number-unit-container {
    width: 2rem;
    height: 100%;
    margin-left: .375rem;
  }

  .double-input-number-container {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    .config-item__ui {
      min-width: auto;
      width: 5rem;

      .double-input-number-input {
        width: 50%;
        height: 100%;
        text-align: center;
      }
    }
  }

  // 颜色选择器
  .color-picker {
    min-width: 0;
    min-height: 0;

    width: 2rem;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    cursor: pointer;

    .color-picker-input {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

  }

  .margin-padding-container {

    .margin {
      position: relative;
      /* 作为子元素绝对定位的参考 */
      /* 预留足够空间显示数字，非实际数值 */
      padding: 2rem;
      width: 10rem;
      aspect-ratio: 1;
      /* 对应 margin 的数值（top/right/bottom/left） */
      background-color: #e6c8a0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .padding {
      position: relative;
      /* 作为子元素绝对定位的参考 */
      /* 预留足够空间显示数字，非实际数值 */
      padding: 10px;
      width: 10rem;
      aspect-ratio: 1;
      /* 对应 padding 的数值（top/right/bottom/left） */
      background-color: #a0c8e6;
      display: flex;
      justify-content: center;
      align-items: center;

      .dir-text {
        width: 30%;
      }
    }

    .dir-text {
      position: absolute;
      font-size: .875rem;
      color: #333;
      width: 20%;
      height: 1.375rem;
      text-align: center;
      line-height: 1.375rem;
      background-color: transparent;
    }

    /* 四个方向数字的位置 */

    .top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .right {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .left {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }


  }

}