.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #f7f8fa;
  padding: 16px;
}

/* 针对 Chrome, Safari 和 Opera */
::-webkit-scrollbar {
  display: none;
}

/* 针对 IE, Edge 和 Firefox */
body {
  overflow: hidden;
  
  -ms-overflow-style: none;
  /* IE 和 Edge */
  scrollbar-width: none;
  /* Firefox */
}