.component-preview {
  width: 100%;
  height: 100%;
  border: 1px dashed #555555;
  box-sizing: border-box;

  &:hover {
    /* 悬停时只改变边框颜色，不改变元素尺寸 */
    border-color: #007bff;
  }


  & .component-preview__can-drop {
    
  }
}

.component-preview__root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}