.component-preview__root {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #ffffff;
  position: relative;
  top: 50%;
  overflow: hidden;
  box-sizing: border-box;

  &.component-preview__sliding {
    overflow: auto;
  }

  .preview__content {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
  }

  .preview__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    min-width: 100%;
    min-height: 100%;
    background-image: linear-gradient(#f0f0f0 1px, transparent 1px), linear-gradient(90deg, #f0f0f0 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
    z-index: 0;
    background-repeat: repeat;
  }
}