.component-preview__default {
  width: 100%;
  /* 默认添加透明边框，保持元素尺寸不变 */
  border: 1px dashed #555555;
  box-sizing: border-box;

  &:hover {
    /* 悬停时只改变边框颜色，不改变元素尺寸 */
    border-color: #007bff;
  }

  &.component-preview__selected {
    border: 1px dashed #007bff !important;
  }
}

.component-preview__virtual {
  margin: 20px;
  width: 100%;
  height: 100%;
  background-color: #007bff !important;
}

.component-preview__flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}