.component-preview__default {

  &:hover {
    /* 悬停时只改变边框颜色，不改变元素尺寸 */
    border-color: #007bff;
  }

  &.component-preview__selected {
    background-color: rgba(111, 113, 115, 0.1) !important;
  }

  &.component-preview__can-drop {
  }
}

.component-preview__virtual {
  width: 100%;
  height: 100%;
  background-color: #007bff !important;
}

.component-preview__flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}